html, body {
    overflow-x:hidden ;
    font-size: 17px;
    /* font-weight: 400; */
    font-family: 'Avenir Next', sans-serif;
    background-color: #F4F4F4;
    color: #333;
    text-align: center;

    /* .disable-selection  */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#nav {
    background-color: #2f2f2f;
    position: fixed ;
    /* width: 100% ; */
    bottom: 0 ;
    left: 0 ;
    color: #fff ;
    text-align: center;
    right: 0;
    z-index: 1;
}

a {
    text-decoration: none ;
    color: rgb(95, 165, 236);
    transition: color 0.1s linear ;
}
a:hover {
    color: rgb(192, 233, 10);
}

svg {
    max-height: 300px;
}

circle {
    max-width: 100px;
    stroke: #F4F4F4 ;
    stroke-width: 5px ;
    fill: none ;
    z-index: 5;
    stroke-dasharray:  471 ;/*r=75*/
    stroke-dashoffset: 470 ;
    stroke-linecap: round;
    transform-origin: 50% 50%;
}

.crcl {
    animation: 1.5s ease-in-out svg--animation;
}

@keyframes svg--animation {
    0% {
        stroke: #333 ;
        transform: rotateZ(0deg);
        stroke-dashoffset: 471;
        opacity: 80%;
    }
    50% {
        opacity: 100%;
    }
    75% {
        transform: rotateZ(540deg);
        stroke-dashoffset: 118;
    }
    85% {
        opacity: 75%;
    }
    100% {
        stroke: #333 ;
        transform: rotateZ(1080deg);
        stroke-dashoffset: 470;
        opacity: 0%;
    }
}

.crcl1 {
    animation: 2s ease-in-out svg--animation1;
}

@keyframes svg--animation1 {
    0% {
        /* stroke: rgb(95, 165, 236) ; */
        transform: rotateZ(0deg);
        stroke-dashoffset: 118;
    }
    50% {
        stroke: rgb(95, 165, 236) ;
        transform: rotateZ(540deg);
        stroke-dashoffset: 471;
        
    }
    100% {
        transform: rotateZ(1080deg);
        stroke-dashoffset: 118;
    }
  }
  
  #bignum {
      visibility: hidden;
  }
  .bnanim {
      animation: 1.5s ease-in-out bignumanimation ;
  }

  @keyframes bignumanimation {
      0% {
          opacity: 0%;
      }
      90% {
          opacity: 1%;
      }
      100% {
          opacity: 100%;
      }
  }
  
table {
    color: #333 ;
    width: 70% ;
    border-radius : 5px ;
    border: 4px solid #F4F4F4 ; 
    border-collapse: collapse;
    align-items: center ;
}
tr {
    max-width: 70% ;
    vertical-align: center;
}

td {
    height: 30px ;
    margin: 0 ;
    width: 10% ;
    text-align: center ;
    visibility: hidden ;
    color: #333 ;
}

.smallnum {
    animation: 2s linear fadein ; 
}
@keyframes fadein {
    0% {
        opacity: 0%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        color: #333 ;
    }
}

#footer {
    top: 0 ;
    left: 0 ;
    right: 0 ;
    bottom: 0 ;
    background-color: #f4f4f4 ;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    position: fixed;
    visibility: hidden;
    vertical-align: middle;
}

#footer h1 {
    font-size: 125px ;
    font-weight: 10 ;
}

#footer h4 {
    width: 30% ;
    background-color: rgb(36, 127, 218) ;
    color: #f4f4f4 ;
    height: 40px ;
    border-radius: 2px ;
    padding-top: 20px ;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    svg {
      height: 150px;
      width: 100% ;
    }

    #nav {
        height: 50px ;
        font-size: 10px ;
    }

    .grid {
        margin-top: 50px ;
        font-size: 18px ;

    }

    table {
        width: 90% ;
    }

    #footer h1 {
        font-size: 100px ;
    }

    #footer h4 {
        width: 50%;
    }

}

@media only screen and (max-width: 361px) {
    /* Glaxy S5 */
    svg {
      height: 150px;
      width: 100% ;
    }

    #nav {
        height: 50px ;
        font-size: 10px ;
    }

    .grid {
        margin-top: 10px ;
        font-size: 18px ;

    }

    table {
        width: 90% ;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    
    /* Ipad + pro portrait */

    #footer {
        padding-top: 100px ;
    }

    #footer h3 {
        font-size: 36px ;
    }

    #footer h4 {
        margin-top: 150px ;
        font-size: 36px ;
        height: 70px ;
    }

    #nav {
        height: 100px;
        font-size: 24px ;
    }

    .grid, svg {
        margin-top: 100px ;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* ipad LS */
    .section1 {
        transform: scale(0.75) ;
    }

    .grid {
        margin-top: -40px ;
        transform: scale(1.1) ;
    }
  
    #slang {
        margin-top: -30px ;
    }

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

    svg {
        margin-top: 100px ;
    }

    .grid {
        margin-top: 180px ;
        transform: scale(1.2) ;
    }

}

@font-face {
    font-family: 'Avenir Next';
    src: url("fonts/Avenir.ttc"); /* File to be stored at your site */
    
}

